<div class="content-header">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Início</a></li>
    <li><a href="#"><i class="fa fa-file"></i> Formulários</a></li>
    <li class="active"><i class="fa fa-question"></i>Perguntas</li>
  </ol>

  <br/>
  <br/>

  <fieldset *ngIf="formulario">

    <legend><h2>Pesquisa de Perguntas</h2></legend>

    <legend><h3>Formulário</h3></legend>

    <div class="col-md-4">
      <label>Descrição: </label> {{formulario.descricao}}<br/>
      <label>Tipo: </label> {{formulario.tipo}}
    </div>

    <legend style="margin-top: 5%"><h3>Avaliação</h3></legend>
    <div class="col-md-4">
      <div class="input-group input-group-sm">

        <app-ciclo-select (emitter)="getIdCiclo($event)"></app-ciclo-select>

        <span class="input-group-btn">
          <button id="search" class="btn btn-flat btn-success" (click)="buscarPerguntas()">
            <i class="fas fa-search"></i>
          </button>
        </span>

      </div>
    </div>

    <div style="margin-top: 2%" class="col-md-10">
      <button class="btn btn-primary" data-toggle="modal" data-target="#pergunta" >
        Novo <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>

  </fieldset>

</div>

<section class="content">

  <legend><h3>Perguntas</h3></legend>

  <table class="ui celled table">
    <thead>
    <tr>
      <th>Pergunta</th>
      <th class="opcoes">Opções</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of getList()">
      <td>{{entity.descricao}}</td>
      <td class="opcoes">

        <button class="btn btn-success" (click)="update(entity)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>

        <span class="divider"></span>

        <button class="btn btn-danger" (click)="delete(entity)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>

      </td>
    </tr>
    </tbody>

  </table>

</section>

<app-form-pergunta [ciclo]="ciclo" [formulario]="formulario" ></app-form-pergunta>
