<div class="content-header">
  <h1>
    Consultar Resultados
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
    <li class="active">Consultar Resultados</li>
  </ol>

  <br/>

</div>

<section class="content">

  <div class="row">

    <div class="col-md-5">

      <label>Avaliação</label>
      <select class="form-control" [(ngModel)]="ciclo">
        <option value="undefined">Selecione</option>
        <option *ngFor="let c of ciclos" [value]="c.id">{{c.descricao}}</option>
      </select>

    </div>

  </div>

  <br/>

  <div class="row">

    <div class="col-md-5">

      <div class="input-group input-group-sm">

        <input placeholder="Busque o servidor pelo nome"
               class="form-control autocomplete"/>

        <span class="input-group-btn">
          <button class="btn btn-flat btn-success" (click)="buscarAvaliacoes()">
            <i class="fas fa-search"></i>
          </button>
        </span>

      </div>

    </div>

    <br/>
    <hr/>

    <div class="col-md-12" *ngIf="avaliacoes">

      <p *ngIf="localizacao" >
        <strong>Localização: </strong> {{localizacao.unidade.sigla}} - {{localizacao.unidade.nome}}
      </p>

      <table class="ui table table-striped">
        <thead>
        <tr>
          <th>Tipo</th>
          <th>Avaliador</th>
          <th>Nota</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let avaliacao of avaliacoes">
          <td>{{Tipo[avaliacao.formulario.tipo]}}</td>
          <td>{{avaliacao.avaliador?.nome}}</td>
          <td>{{avaliacao.nota | number:'.2-2':'pt' }}</td>
        </tr>
        </tbody>

        <tfoot class="full-width">
        <tr>
          <th colspan="2" style="text-align: right">
            <strong>Média:</strong>
          </th>
          <th>
            {{media(avaliacoes) | number:'.2-2':'pt' }}
          </th>
        </tr>
        </tfoot>

      </table>

    </div>

  </div>

</section>

