<div class="content-header">
  <h1>
    Formulários
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
    <li class="active">Formulários</li>
  </ol>

  <br/>

  <button class="btn btn-primary" (click)="add()">
    Novo <i class="fa fa-plus" aria-hidden="true"></i>
  </button>

  <br/>
  <hr/>

</div>

<section class="content">

  <table class="ui celled table">
    <thead>
    <tr>
      <th>Formulário</th>
      <th>Tipo</th>
      <th class="opcoes">Opções</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of getList()">
      <td>{{entity.descricao}}</td>
      <td>{{entity.tipo}}</td>
      <td class="opcoes">

        <button class="btn btn-success" (click)="update(entity)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>

        <span class="divider"></span>

        <button class="btn btn-danger" (click)="delete(entity)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>

      </td>
    </tr>
    </tbody>

  </table>

</section>
