<div class="content-header">
  <h1>
    Lozalizações
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
    <li class="active">Localizações</li>
  </ol>

  <br/>

</div>

<section class="content">

  <div class="row">

    <div class="col-md-5">

      <label>Avaliação</label>
      <app-ciclo-select (emitter)="getIdCiclo($event)"></app-ciclo-select>


    </div>

  </div>

  <br/>

  <div class="row">

    <div class="col-md-5">

      <div class="input-group input-group-sm">

        <app-servidor-autocomplete (emitter)="getIdServidor($event)"></app-servidor-autocomplete>

        <span class="input-group-btn">
          <button class="btn btn-flat btn-success" (click)="buscarLocalizacao()">
            <i class="fas fa-search"></i>
          </button>
        </span>

      </div>

    </div>

  </div>

  <br/>
  <hr/>

  <div class="row">

    <div class="col-md-12" *ngIf="localizacao">

      <table class="ui table table-striped">
        <thead>
        <tr>
          <th>Unidade</th>
          <th>Opções</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>{{localizacao.unidade.sigla}} - {{localizacao.unidade.nome}}</td>
          <td class="opcoes">

            <button class="btn btn-success">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>

            <span class="divider"></span>

            <button class="btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

          </td>
        <tr>
        </tbody>

      </table>

    </div>

  </div>

</section>

