<div class="content-header">
  <ol class="breadcrumb">
    <li><a href="#" class="active"><i class="fa fa-dashboard"></i> Início</a></li>
  </ol>

  <br/>

</div>

<section class="content">

  <p style="font-size: 19px" *ngIf="servidor" >Olá {{servidor.nome.split(" ")[0]}}, veja abaixo as avaliações disponíveis para você.</p>

  <div class="info-box">

    <span class="info-box-icon bg-aqua">
      <i class="fa fa-info-circle"></i>
    </span>

    <div class="info-box-content" style="vertical-align: center">

          <span class="info-box-number">
            <a style="color: #2a5b96"> Autoavaliação</a>
          </span>

    </div>

  </div>

  <div class="info-box">

    <span class="info-box-icon bg-red">
      <i class="fa fa-info-circle"></i>
    </span>

    <div class="info-box-content" style="vertical-align: center">

      <span class="info-box-number">
        <a style="color: #2a5b96"> Avaliação de Servidor Subordinado</a>
      </span>

      <br/>

      <span>
            <strong>Servidor:</strong> Fulano de Tal dos Anzóis
      </span>

    </div>

  </div>

</section>
