/* You can add global styles to this file, and also import other style files */

.content {
    margin-left: 1%;
}

.opcoes{
    text-align: center !important;
    width: 150px;
}

.divider {
    width: 3px !important
}

.blink {
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }

  @-webkit-keyframes blink {
    67% { opacity: 0 }
  }
  
  @-moz-keyframes blink {
    67% { opacity: 0 }
  }
  
  @-o-keyframes blink {
    67% { opacity: 0 }
  }
  
  @keyframes blink {
    67% { opacity: 0 }
  }